{% extends 'home.html.twig' %}
{% block title %} liste des postes {% endblock %}

{% block body %}

hello liste des Administrateur
<table border='1'>
{% for ligne in liste %}
    <tr>
     <td>{{ligne.id}}</td>
  
    </tr>
{% endfor %}

</table>

{% endblock %}