{% extends 'home.html.twig' %}
{% block title %} liste des postes {% endblock %}

{% block body %}

hello liste des postes
<table border='1'>
{% for ligne in liste %}
    <tr>
    <td>{{ligne.matriculeCamion}}</td>
    <td>{{ligne.intitule}}</td>
    </tr>
{% endfor %}

</table>

{% endblock %}